.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.env.local
.env.*.local
.cache

# NPM config with tokens
**/.npmrc
server/dist
public/dist

# Build outputs
lib
*.tsbuildinfo

# Test outputs
junit.xml
coverage

# Lock files (using pnpm)
package-lock.json
yarn.lock
